<!DOCTYPE html>
<html ng-app="redditList">
<head>    
	<meta charset="UTF-8">
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
	<script type="text/javascript" src="index.js"></script>
	
	<title>Reddit Posts in AngularJS</title>
</head>
<body ng-controller="redditController" ng-init="qtdResults = 10">

	<h2>Favorites</h2> 

	<table class="table">
	  <thead>
	    <tr>
	      <th></th>
	      <th>Title</th>
	      <th>Author</th>
	      <th>Created At</th>
	    </tr>
	  </thead>
	
	   <tbody>
	      <tr ng-repeat="favorite in favorites">
		
	        <td><look-post postagem="favorite"></look-post></td>
	        <td>{{favorite.data.title}}</td>
	        <td>{{favorite.data.author}}</td>
	        <td>{{favorite.data.created | date}}</td>
			<td>
				<button type="button" class="btn btn-danger" ng-click="desfavoritar(post)">
        		Unfavorite
    			</button>
			</td>
	      </tr>
	    </tbody>
	</table>

	<h2>{{title}}</h2> 
	
	<input type="text" placeholder="Search" ng-model="searchText" ng-change="filterPosts()" class="form-control">

    <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-model="qtdResults" btn-radio="'10'">10 posts</button>
        <button type="button" class="btn btn-primary" ng-model="qtdResults" btn-radio="'20'">20 posts</button>
        <button type="button" class="btn btn-primary" ng-model="qtdResults" btn-radio="'30'">30 posts</button>
    </div>
	
	<h4>Exibindo {{qtdResults}} posts</h4>

	<table class="table">
	  <thead>
	    <tr>
	      <th></th>
	      <th>Title</th>
	      <th>Author</th>
	      <th>Created At</th>
	      <th>&nbsp;</th>
	    </tr>
	  </thead>
	
	   <tbody>
	      <tr ng-repeat="post in posts | filter:searchText | limitTo:qtdResults">
			<td><look-post postagem="post"></look-post></td>
	        <td>{{post.data.title}}</td>
	        <td>{{post.data.author}}</td>
	        <td>{{post.data.created | date}}</td>
			<td>
				<button type="button" class="btn btn-info" ng-click="favoritar(post)">
        		Favorite
    			</button>
			</td>
	      </tr>
	    </tbody>
	</table>	

	<script type="text/ng-template" id="modal.html">
	  	<h4>Post: {{post.data.title}}</h4>
		<a href="{{post.data.url}}" target="_blank">
		  <img src="{{post.data.thumbnail}}"></img>
		</a>
	</script>
</body>
</html>
